* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 0 36px;
  border: none;
  border-radius: 50px;
  margin: 0 8px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 250ms ease-in;
}

button:focus,
button:active {
  outline: none;
}

.cancel-button {
  background-color: #ff4949;
}
/* 실무에서 가장 많이 쓰는 경우 */
.cancel-button:hover {
  /* 대부분 spread 부분은 잘 안씀 */
  box-shadow: 0 10px 16px 0 rgba(255, 73, 73, 0.35);
}

.confirm-button {
  background-color: #13ce66;
}

.confirm-button:hover {
  box-shadow: 0 10px 16px 0 rgba(19, 206, 102, 0.35);
}
