/* ▼ WHERE YOUR CODE BEGINS 
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
}

.loading {
  width: 500px;
  padding: 80px 100px;
}

.loading-title {
  font-size: 18px;
  line-height: 1.333333333333333;
  text-align: center;
  margin-bottom: 20px;
  opacity: 1;
  animation: text-loading 3s;
}

.progress-bar {
  position: relative;
  width: 300px;
  height: 12px;
  background-color: #e5eaef;
  border-radius: 100px;
}

.progress-bar-gauge {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #13ce66;
  animation: loading-bar 2s linear;
  width: 0;
  height: 12px;
  border-radius: 100px;
}

@keyframes text-loading {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading-bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 216px;
}

.loading-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.333333333333333;
  color: #151b26;
  text-align: center;
  margin-bottom: 20px;
  animation: flicker 1.6s infinite alternate;
  /* animation-name: flicker;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.progress-bar {
  position: relative;
  width: 300px;
  height: 12px;
  background-color: #e5eaef;
  border-radius: 100px;
  /* 터지는 녀석들은 다막아라! */
  overflow: hidden;
}

.progress-bar-gauge {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 12px;
  background-color: #13ce66;
  border-radius: 100px;
  animation: loading-bar 1.6s infinite ease-out;
  /* animation-name: loading-bar;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out; */
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loading-bar {
  0% {
    width: 0;
    opacity: 1;
  }
  80% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
