* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
  background-color: #000;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

/* ▼ WHERE YOUR CODE BEGINS 
.tabMenu {
  width: 540px;
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid #e5eaef;
}
.tabMenu::after {
  content: '';
  clear: left;
  display: block;
}
.tabItem {
  list-style: none;
  float: left;
  padding: 16px 20px;
  margin-right: 16px;
}

.active {
  border-bottom: 2px solid #2860e1;
}

.active a {
  color: #2860e1;
  font-weight: 500;
}*/

ul {
  list-style-type: none;
  padding-left: 0;
}

/* .tab-menu{
  overflow: hidden;
} */

.tab-menu {
  border-bottom: 1px solid #e5eaef;
  max-width: 540px;
  background-color: #fff;
}

.tab-menu::after {
  content: '';
  display: block;
  clear: left;
}

.tab-menu-item {
  float: left;
  margin-right: 16px;
}

.tab-menu-item a {
  display: block;
  padding: 16px 20px;
}

.tab-menu-item.active {
  border-bottom: 2px solid #2860e1;
}

.tab-menu-item.active a {
  color: #2860e1;
  font-weight: 500;
}
