/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

button,
input,
textarea {
  font-family: 'Lato', sans-serif;
}

button {
  background-color: #fff;
  border: none;
}

.line-button {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  color: #151b26;
  padding: 18px 30px;
  cursor: pointer;
}

.line-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0066ff;
  /* 대부분 이렇게 작은 것은 250ms 로 해줌 */
  transition: width 250ms ease-in, background-color 250ms ease-in;
}

.line-button:hover::after {
  width: 100%;
  background-color: hotpink;
}
