* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.01em;
}

a {
  text-decoration: none;
}

.landing {
  background-image: url('./assets/img-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing-title {
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: #fff;
}

.landing-title strong {
  display: block;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.01em;
}

.landing-link {
  line-height: 1;
  color: #fff;
}

.banner-title a {
  color: #1f2d3d;
}

/* ▼ WHERE YOUR CODE BEGINS */
.banner {
  width: 100%;
  /* 자식요소에게 높이를 줬으므로 안줘도 괜찮음 */
  /* height: 64px; */
  background-color: #ffc82c;
  /* fixed는 viewport 기준으로 위치함 */
  position: fixed;
  bottom: 0;
  left: 0;
}

.banner-title a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* a전체 영역을 눌렀을 때 이동할 수 있도록 */
  height: 64px;
  font-size: 18px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
}

.landing-title {
  margin-bottom: 24px;
  text-align: right;
}

.landing-link {
  /* display: block; */
  /* 어짜피 가운데정렬도 해야하므로 flex로 하기(한번더 생각@!!) */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 52px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .banner {
    /* 이전의 bottom값을 무효화 시켜줌 */
    bottom: auto;
    top: 0;
  }
  .banner-title a {
    height: 80px;
  }

  .landing {
    align-items: center;
  }

  .landing-title {
    margin-bottom: 32px;
    font-size: 50px;
    text-align: center;
  }

  .landing-link {
    width: 180px;
    height: 56px;
    font-size: 18px;
  }
}
