.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #111111cc;
  z-index: 1000;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.4s ease-in-out;
}

/* 자바스크립트에서 추가할 class */
.navigation.active {
  clip-path: circle(75%);
}

.navigation .ham-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.navigation .ham-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 1.5px;
  /* 가운데로 오게하기위해 translate 사용 */
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.4s ease;
}

.navigation .ham-btn span:nth-child(1) {
  top: 30%;
}
.navigation .ham-btn span:nth-child(2) {
  top: 50%;
}
.navigation .ham-btn span:nth-child(3) {
  top: 70%;
}

.navigation.active .ham-btn span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.navigation.active .ham-btn span:nth-child(2) {
  opacity: 0;
}
.navigation.active .ham-btn span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navigation .links a {
  position: relative;
  display: inline-block;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
